
body {
  margin: 0;
  padding: 5px 6px;
  font-family: sans-serif;
  height: 100vh;
  min-width: 850px;

}
#root {
  height: 100%;

}

#app-container {
  display: flex;
  height: 100%;
  /*overflow: hidden;*/
}

#sidebar {
  width: 280px;
  margin: 5px 0px 0 7px;
  padding-right: 30px;
  float: left;
  border-right: 1px solid black;
}
#main-container {
  flex: 1;
  margin: 5px 0 0 0;
  padding-left: 30px;
  display: flex;
}
/*------------------------------------------------*/
#addlist-form {
  height: 30px;
  margin-bottom: 15px;
  display: flex;
}
#addlist-form input {
  border: 1px solid black;
  height: 30px;
  flex: 1;
  font-size: 15px;
  padding: 1px 5px
}
#addlist-form button {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-left: none;
  height: 30px;
  width: 30px;
  font-size: 16px;
}
/*------------------------------------------------*/
#list-container {
  margin: 8px 1px;
  display: flex;
  flex-direction: column;
}
#list-item {
  display: flex;
}
#delete-list {
  color: gray;
  cursor: pointer;
}
#list-item .lists:first-child {
  margin-left: 20px;
}
#delete-list:hover {
  color: black
}
.lists {
  color: gray;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}
.lists:hover {
  color: black;
}
.active-list {
  color: black;
  font-weight: bold;
}
#list-counter {
  float: right;
}

/*------------------------------------------------*/
#mainbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}
/*------------------------------------------------*/
#addtodo-container {
  display: flex;
}
/*------------------------------------------------*/
#addtodo-form {
  flex: 1;
  display: flex;
}
#addtodo-form input {
  flex: 1;
  border: 1px solid black;
  height: 30px;
  font-size: 15px;
  padding: 1px 5px
}
#addtodo-form button {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-left: none;
  height: 30px;
  width: 30px;
  font-size: 16px;
}
#checkbox-container {
  /*float: right;*/
  height: 30px;
  display: flex;
  margin: 0 15px;

}
#checkbox-container div {
  margin: auto;
}
#checkbox-container div label {
  cursor: pointer;
}
#checkbox-container div input {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  cursor: pointer;
}
/*------------------------------------------------*/
#todos {
  clear: both;
  margin-top: 12px;
  padding-bottom: 10px;
}
#not-completed-todo {
}
#not-completed-todo .todo-container:first-child {
  padding-top: 10px;
  border-top: 1px solid gray;
}
.todo-container {
  margin: 2px 0
}
.todo {
  cursor: pointer;
  color: gray;
}
.todo:hover {
  color: black
}
.completed-todo {
  text-decoration: line-through;
}
